{% extends "layout.html" %}
{% block title %}Admin: platforms{% endblock %}
{% block content %}
<h2>Admin: platforms</h2>
<p class="lead">Admin page for platforms in the database.</p>

<h3>Add platforms</h3>
<form action="/admin/platforms" method="POST">
<div class="form-group col-6">
<label for="inputName">Name</label>
<input type="text" class="form-control" id="inputName" name="name">
</div>
<div class="form-group col-6">
<button type="submit" class="btn btn-primary">Add</button>
</div>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="operation" value="add_platform">
</form>

<h3>Platforms currently in the database</h3>
<table class="table table-striped col-10">
<thead>
<tr>
<th scope="col">Name</th>
<th scope="col">Visible</th>
<th scope="col"></th>
</tr>
</thead>
<tbody>
{% for platform in platforms %}
<tr>
<td>{{ platform[1] }}</td>
<td>
{% if platform[2] %}
✅
{% else %}
❌
{% endif %}
</td>
<td>
<form action="/admin/platforms" method="POST">
<div class="form-group">
{% if platform[2] %}
<button type="submit" class="btn btn-secondary">Hide</button>
{% else %}
<button type="submit" class="btn btn-secondary">Set visible</button>
{% endif %}
</div>
<input type="hidden" name="platform_id" value="{{platform[0]}}">
<input type="hidden" name="current_visibility" value="{{platform[2]}}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="operation" value="set_visibility">
</form>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}