{% extends "layout.html" %}
{% block title %}Admin: games{% endblock %}
{% block content %}
<h2>Admin: games</h2>
<p class="lead">Admin page for games in the database.</p>

<h3>Add games</h3>
<form action="/admin/games" method="POST">
<div class="form-group col-6">
<label for="inputName">Name</label>
<input type="text" class="form-control" id="inputName" name="name">
</div>
<div class="form-group col-6">
<label for="inputPlatform">Platform</label>
<select class="form-control" id="inputPlatform" name="platform_id">
{% for platform in platforms %}
<option value={{ platform[0] }}>{{ platform[1] }}</option>
{% endfor %}
</select>
</div>
<div class="form-group col-6">
<button type="submit" class="btn btn-primary">Add</button>
</div>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="operation" value="add_game">
</form>

<h3>All games currently in the database</h3>
<table class="table table-striped col-10">
<thead>
<tr>
<th scope="col">Name</th>
<th scope="col">Platform</th>
<th scope="col">Game visible</th>
<th scope="col">Platform visible</th>
<th scope="col"></th>
</tr>
</thead>
<tbody>
{% for game in all_games %}
<tr>
<td>{{ game[1] }}</td>
<td>{{ game[2] }}</td>
<td>
{% if game[3] %}
✅
{% else %}
❌
{% endif %}
</td>
<td>
{% if game[4] %}
✅
{% else %}
❌
{% endif %}
</td>
<td>
<form action="/admin/games" method="POST">
<div class="form-group">
{% if game[3] %}
<button type="submit" class="btn btn-secondary">Hide</button>
{% else %}
<button type="submit" class="btn btn-secondary">Set visible</button>
{% endif %}
</div>
<input type="hidden" name="game_id" value="{{game[0]}}">
<input type="hidden" name="current_visibility" value="{{game[3]}}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="operation" value="set_visibility">
</form>
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}