{% extends "layout.html" %}
{% block title %}Admin: reviews{% endblock %}
{% block content %}
<h2>Admin: reviews</h2>
<p class="lead">Admin page for reviews in the database. You can hide reviews from game page.</p>

<h3>All reviews in the database of visible games and platforms</h3>
<table class="table table-striped table-responsive col-12">
<thead>
<tr>
<th scope="col">Review added</th>
<th scope="col">Review visible</th>
<th scope="col">Username</th>
<th scope="col">Game name</th>
<th scope="col">Platform</th>
<th scope="col">Rating</th>
<th scope="col">Comments</th>
</tr>
</thead>
<tbody>
{% for review in all_reviews %}
<tr>
<td>{{ review[0].strftime("%Y-%m-%d %H:%M:%S") }}</td>
<td>
{% if review[1] %}
✅
{% else %}
❌
{% endif %}
</td>
<td>{{ review[2] }}</td>
<td><a href="/reviews/{{ review[3] }}">{{ review[4] }}</a></td>
<td>{{ review[5] }}</td>
<td>{{ review[6] }}</td>
<td>{{ review[7] }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}