{% extends "layout.html" %}
{% block title %}Game collection{% endblock %}
{% block content %}
<h2>Game collection</h2>
<table>
<tr>
<th>Name</th>
<th>Platform</th>
<th>Story completed</th>
<th>Full completion</th>
{% if this_user %}
<th>Hide from collection</th>
{% endif %}
</tr>
{% for game in collection %}
<tr>
<td><a href="/reviews/{{ game[0] }}">{{ game[1] }}</a></td>
<td>{{ game[2] }}</td>
<td>
{% if game[3] %}
✅
{% else %}
❌
{% endif %}
</td>
<td>
{% if game[4] %}
✅
{% else %}
❌
{% endif %}
</td>
{% if this_user %}
<td>
<form action="/collection/{{ user_id }}" method="POST">
<input type="submit" value="Hide">
<input type="hidden" name="game_id" value="{{ game[0] }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="operation" value="hide_from_collection">
</form>
</td>
{% endif %}
</tr>
{% endfor %}
</table>
{% if this_user %}
<h3>Add a new game to the collection or update game info</h3>
<form action="/collection/{{ user_id }}" method="POST">
Game:
<select name="game_id">
{% for game in games %}
<option value={{ game[0] }}>{{ game[1] }} ({{ game[2] }})</option>
{% endfor %}
</select><br>
Story completed:
<input type="radio" name="story_completed" value="TRUE"> Yes
<input type="radio" name="story_completed" value="FALSE" checked> No<br>
Full completion:
<input type="radio" name="full_completion" value="TRUE"> Yes
<input type="radio" name="full_completion" value="FALSE" checked> No<br>
<input type="submit" value="Add">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="operation" value="add_to_collection">
</form>
{% endif %}
{% endblock %}