{% extends "layout.html" %}
{% block title %}Reviews of {{ game_info[0] }} on {{ game_info[1]}}{% endblock %}
{% block content %}
<h2>Reviews of {{ game_info[0] }} on {{ game_info[1]}}</h2>
<p>
Number of ratings: {{ game_info[2] }}<br>
Average rating:
{% if game_info[3] == -1 %}
-
{% else %}
{{ "%.2f"|format(game_info[2]) }}
{% endif %}
</p>
<table>
<tr><th>Rating</th><th>Comments</th><th>Reviewer</th><th>Review added</th></tr>
{% for review in reviews %}
{% if review[4] %}
<tr>
<td>{{ review[0] }}</td>
<td>{{ review[1] }}</td>
<td>{{ review[2] }}</td>
<td>{{ review[3].strftime("%Y-%m-%d %H:%M:%S") }}</td>
<td>
{% if session.user_id == review[6] or session.user_is_admin %}
<form action="/reviews/{{ game_id }}" method="POST">
<input type="submit" value="Delete">
<input type="hidden" name="review_id" value="{{ review[5] }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="operation" value="hide_review">
</form>
{% endif %}
</td>
</tr>
{% endif %}
{% endfor %}
</table>
{% if session.user_id %}
<h3>Add a new review</h3>
<form action="/reviews/{{ game_id }}" method="POST" onsubmit="return check(this)">
Rating:
<input type="radio" name="rating" value="0" checked> 0
<input type="radio" name="rating" value="1"> 1
<input type="radio" name="rating" value="2"> 2
<input type="radio" name="rating" value="3"> 3
<input type="radio" name="rating" value="4"> 4
<input type="radio" name="rating" value="5"> 5<br>
Comments:<br>
<textarea name="comments" rows="5" cols="40"></textarea><br>
<input type="submit" value="Send">
<input type="hidden" name="game_id" value="{{ game_id }}">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<input type="hidden" name="operation" value="add_review">
</form>
{% endif %}
{% if session.user_is_admin %}
<h3>Deleted reviews</h3>
<table>
<tr><th>Rating</th><th>Comments</th><th>Reviewer</th><th>Review added</th></tr>
{% for review in reviews %}
{% if not review[4] %}
<tr>
<td>{{ review[0] }}</td>
<td>{{ review[1] }}</td>
<td>{{ review[2] }}</td>
<td>{{ review[3].strftime("%Y-%m-%d %H:%M:%S") }}</td>
</tr>
{% endif %}
{% endfor %}
</table>
{% endif %}

<script>
  check = (form) => {
      if (form.comments.value.length > 200) {
          alert("Comments too long, use less than 201 characters")
          return false
      }
      return true
  }
</script>

{% endblock %}