<!DOCTYPE html>
<title>Videogame Backlog Manager - {% block title %}{% endblock %}</title>
<h1>Videogame Backlog Manager</h1>
<a href="/">Main page</a> |
<a href="/listings">Game listings</a> |
{% if session.user_id %}
<a href="/collection/{{ session.user_id }}">My collection</a> |
{% if session.admin_link_visible %}
<a href="/admin">Admin page</a> |
{% endif %}
You are logged in as {{ session.username }}
<a href="/logout">Logout</a>
{% else %}
<a href="/login">Login</a>
{% endif %}
{% block content %}{% endblock %}