{% extends "layout.html" %}
{% block title %}Game listings{% endblock %}
{% block content %}
<h2>Game Listings</h2>
Click the name to see the reviews.

<h3>Five best rated games</h3>
<table>
<tr><th>Name</th><th>Platform</th><th>Reviews</th><th>Average rating</th></tr>
{% for game in ratings %}
<tr>
<td><a href="/reviews/{{ game[0] }}">{{ game[1] }}</a></td>
<td>{{ game[2] }}</td>
<td>{{ game[3] }}</td>
<td>{{ "%.2f"|format(game[4]) }}</td>
</tr>
{% endfor %}
</table>

<h3>Five most reviewed games</h3>
<table>
<tr><th>Name</th><th>Platform</th><th>Reviews</th><th>Average rating</th></tr>
{% for game in reviews %}
<tr>
<td><a href="/reviews/{{ game[0] }}">{{ game[1] }}</a></td>
<td>{{ game[2] }}</td>
<td>{{ game[3] }}</td>
<td>{{ "%.2f"|format(game[4]) }}</td>
</tr>
{% endfor %}
</table>
<h3>All games available</h3>
<table>
  <tr><th>Name</th><th>Platform</th><th>Reviews</th><th>Average rating</th></tr>
{% for game in games %}
<tr>
<td><a href="/reviews/{{ game[0] }}">{{ game[1] }}</a></td>
<td>{{ game[2] }}</td>
<td>{{ game[3] }}</td>
<td>{% if game[4] == -1 %}
-
{% else %}
{{ "%.2f"|format(game[4]) }}
{% endif %}
</td>
</tr>
{% endfor %}
</table>
{% endblock %}