{% extends "layout.html" %}
{% block title %}Admin: games{% endblock %}
{% block content %}
<h2>Admin: games</h2>
Admin page for games in the database.
<h3>Add games</h3>
<form action="/admin_games" method="POST">
Name: <input type="text" name="name"><br>
Platform:
<select name="platform_id">
{% for platform in platforms %}
<option value={{ platform[0] }}>{{platform[1]}}</option>
{% endfor %}
</select><br>
<input type="submit" value="Add">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
{% endblock %}